.theme-main .banner_wrap {
  position: relative;
  width: 100%;
  background: url(../img/banner.png) no-repeat;
  height: 762px;
  background-position: top center;
  background-size: cover;
}

.theme-main .inner {
  padding: 7px 10px;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.theme-main .inner::after {
  content: "";
  display: block;
  position: absolute;
  width: 96vw;
  left: 50%;
  -webkit-transform: translateX(-48vw);
          transform: translateX(-48vw);
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(#6ddcff), to(#7f60f9));
  background-image: linear-gradient(to right, #6ddcff 0%, #7f60f9 100%);
  bottom: 120px;
  z-index: 5;
}

.theme-main .top_text {
  font-size: 10px;
  font-weight: 400;
  color: #a1a1aa;
  line-height: 1.4;
  margin: 0;
  display: block;
}

.theme-main .main_text {
  text-align: center;
  margin-top: 97px;
}

.theme-main .main_text > img {
  width: 253px;
  margin: 0 auto;
  display: block;
  margin-bottom: 7px;
  -o-object-fit: cover;
     object-fit: cover;
}

.theme-main .main_text > p {
  word-break: keep-all;
  font-size: 15px;
  font-weight: 400;
  color: #e1e1e1;
  line-height: 1.53;
  margin: 49px 0 80px;
}

.theme-main .search_wrap {
  width: 100%;
  max-width: 333px;
  margin: 0 auto;
  border-radius: 100px;
  border: 1px solid transparent;
  background-image: linear-gradient(#000, #000), linear-gradient(98deg, #6ddcff 0%, #7f60f9 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  position: relative;
}

.theme-main .search_wrap > img {
  width: 18px;
  height: 18px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 16px;
}

.theme-main .search_wrap > input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 45px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

.theme-main .search_wrap > input::-webkit-input-placeholder {
  color: #71717a;
}

.theme-main .search_wrap > input::-moz-placeholder {
  color: #71717a;
}

.theme-main .search_wrap > input:-ms-input-placeholder {
  color: #71717a;
}

.theme-main .search_wrap > input::-ms-input-placeholder {
  color: #71717a;
}

.theme-main .search_wrap > input::placeholder {
  color: #71717a;
}

.theme-main .search_btn {
  width: 100%;
  max-width: 111px;
  height: 35px;
  padding: 6px 15px;
  background-color: #fff;
  border-radius: 100px;
  font-size: 13px;
  font-weight: 600;
  color: #18181b;
  margin-right: 5px;
}

.theme-main .more_banner {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../img/section1_bg.png);
  background-size: cover;
  background-position: center;
  height: 641px;
}

.theme-main .text_box {
  display: grid;
}

.theme-main .text_box > p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin: 0 0 8px;
}

.theme-main .text_box > h3 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 15px;
}

.theme-main .text_box > span {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-main .text_box > span p {
  margin: 0;
}

.theme-main .more_btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 32px auto 0;
  border: 1px solid #f0631c;
  border-radius: 100px;
  padding: 4px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: #f0631c;
  letter-spacing: -0.21px;
}

.theme-main .introduce {
  background-color: #f1f1f1;
  margin-top: 10px;
  padding: 30px 0 49px;
}

.theme-main .introduce .inner {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
  position: relative;
}

.theme-main .introduce .inner::after {
  display: none;
}

.theme-main .introduce .title {
  font-size: 40px;
  font-weight: 700;
  color: #1e1e20;
  margin: 0 0 30px;
}

.theme-main .introduce .contents {
  display: grid;
  gap: 10px;
  margin: 0 0 30px;
}

.theme-main .box {
  border-radius: 10px;
  overflow: hidden;
}

.theme-main .box > img {
  width: 100%;
  height: calc(100vw * 245 / 370);
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.theme-main .explain {
  padding: 13px 17px;
  background-color: #fff;
  text-align: left;
  font-family: "Inter", sans-serif !important;
}

.theme-main .explain > b {
  color: #3d3d3d;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.3px;
  margin: 0 0 7px;
  display: block;
}

.theme-main .explain > p {
  font-size: 12px;
  font-weight: 400;
  color: #494949;
  line-height: 1.42;
  letter-spacing: -0.18px;
  margin: 0;
  display: block;
  word-break: break-all;
}

.theme-main .etc {
  display: block;
  margin: 30px auto 0;
  color: #3d3d3d;
  line-height: 1.43;
  letter-spacing: -0.21px;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  max-width: 776px;
}

.theme-main .plus_btn {
  margin: 14px 0 0 auto;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (min-width: 1024px) {
  .theme-main .banner_wrap {
    height: 863px;
  }
  .theme-main .inner {
    padding: 7px 22px;
  }
  .theme-main .inner:after {
    bottom: 98px;
    width: -webkit-fill-available;
    left: 0;
    -webkit-transform: initial;
            transform: initial;
    margin: 0 22px;
  }
  .theme-main .main_text {
    margin-top: 145px;
  }
  .theme-main .main_text > img {
    width: 322px;
  }
  .theme-main .main_text > p {
    margin: 66px 0 120px;
  }
  .theme-main .search_wrap {
    margin: initial;
    max-width: 431px;
  }
  .theme-main .search_btn {
    max-width: 144px;
    margin-right: 6px;
    padding: 6px;
    text-align: center;
  }
  .theme-main .more_banner {
    height: 819px;
  }
  .theme-main .text_box > p {
    font-size: 22px;
  }
  .theme-main .text_box > h3 {
    font-size: 64px;
    margin: 0 0 27px;
  }
  .theme-main .text_box > span {
    font-size: 22px;
  }
  .theme-main .more_btn {
    margin: 27px auto 0;
  }
  .theme-main .introduce {
    padding: 77px 0 50px;
  }
  .theme-main .introduce .inner {
    padding: 0 22px;
  }
  .theme-main .introduce .title {
    font-size: 60px;
    margin: 0 0 55px;
  }
  .theme-main .introduce .contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .theme-main .introduce .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .theme-main .introduce .box > img {
    height: 393px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .theme-main .introduce .box:nth-child(2) > img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .theme-main .introduce .box .explain {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .theme-main .introduce .explain {
    padding: 16px 26px;
  }
  .theme-main .introduce .explain > b {
    margin: 0 0 8px;
    font-size: 24px;
    letter-spacing: -0.36px;
  }
  .theme-main .introduce .explain > p {
    font-size: 15px;
    letter-spacing: -0.23px;
  }
  .theme-main .introduce .etc {
    margin: 51px auto 0;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.3px;
  }
  .theme-main .plus_btn {
    position: absolute;
    right: 22px;
    bottom: 0;
  }
}

/*# sourceMappingURL=main.css.map */
