.allId-head {
    width: 100%;
    height: auto;
    background-color: #e85549;
    position: relative;
    z-index: 100;  
    
    
    .inner-head-outline {
        width: 100%;
        
        /* &.m-head {
            padding: 6px 0;
        } */
    }

    .head-top-box {
        position: relative; 
        display: flex;
        align-items: center;
        justify-content: space-between;   
        padding: 0 24px;    
    }
    .menu-btn-box {
        /* position: absolute; */
        cursor: pointer;
        left: 24px;
        display: flex;
        align-items: center;
        top: 15px; 
       

    }

    .menu-btn {
       display: block;
       width: 24px;
       height: 21px;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       background-image: url(../img/more-btn-white.svg);
    }

    .menu-text {
        display: block;
        margin-left: 6px;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.33;
        letter-spacing: 0.9px;
        color: #c6483e;
    }

    .site-logo {
        display: block;
        margin: 0;
        width: 100%;
        text-align: center;

        img {
            height: 24px;
            width: auto;
        }
    }

}

.user-menu-list-box {
    width: 100%;    
}

.user-menu-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

    .user-menu-item {
        flex: auto;

        &:first-child {
            border-right: 1px solid #f2f2f2;
            box-sizing: border-box;
        }

        &.on {
            .user-menu-link {
                background-color: rgba(129, 129, 129, 0.08);

                .user-menu-text {
                    color: #c6483e;
                    font-weight: 500;
                }
            }

            .inner-user-popup-wrap {
                display: block;
            }
        }
        
    }

    .user-menu-link {
        display: block;
        padding: 14px 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        

        .user-menu-text {
            font-size: 12px;
            font-weight: 500;
            color: #757575;
            line-height: 1.3;
            letter-spacing: normal;
            

            &.red {
                color: #e55132;
            }
        }
    }
}

.message-inner-wrap, .user-pop-scroll-inner {
    height: auto;
    overflow: hidden;
    overflow-y: auto;
    max-height: 727px;

    &::-webkit-scrollbar {
        width: 15px;
        border-radius: 100%;
        
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
        box-shadow: inset 0px 0px 5px rgba(170, 170, 170, 0.16);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #c7c7c7;
        border-radius: 10px;
        background-clip: padding-box;
        border: 3px solid transparent;
    }
}

.user-menu-icon {
    width: 16px;
    height: 13px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 5px;

    &.half-icon {
        background-image: url(../img/work-history.svg);
    }

    &.message-icon {
        background-image: url(../img/new-message.svg);
    }

    &.user-name-icon {
        background-image: url(../img/user-name.svg);
    }
}

.message-length {
    position: absolute;
    top: -9px;
    right: -3px;
    border-radius: 100px;
    color: #fff;
    background-color: #c6483e;
    min-width: 18px;
    min-height: 18px;
    text-align: center;
    font-size: 9px;
    font-weight: 700;
    line-height: 18px;
    
}

.message-warning-text {
    font-size: 12px;
    font-weight: 400;
    color: #e55132;
    letter-spacing: normal;
    display: block;
    width: 100%;
    text-align: center;
    /* margin-bottom: 15px; */
    position: absolute;
    top: 25px;
}
/* 미니 팝업 */
.inner-user-popup-wrap {
    border-radius: 14px;
    background-color: #fcfcfc;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #f2f2f2;           padding: 25px 0;
   position: absolute;
    width: 100%;
    left: 0;
    margin-top: 8px;
   /* overflow: hidden;
   overflow-y: auto; */
    display: none;
   /*  max-height: 727px; */

    .mini-popup-dimmed {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0; 
        top: 0;
        background-color: rgba(43, 43, 43, 0.5);
        z-index: -1;
        width: 100%;
        height: 100%;
    }

   
    
    
    
    z-index: 40;

    &.mini-mypage-popup {
        max-width: 208px;
        right: 0;
        left: initial;
    }
}

.user-pop-menu-list {
    /* padding: 25px 0; */
    background-color: #fcfcfc;

}

.user-pop-menu-item {
    border-bottom: 1px solid #e8e8e8;
    

    

    &:first-child {
       border-top: 1px solid #e8e8e8;
    }

    &.mini-mypage-popup-item {
        &:hover {
            background-color: rgba(229, 81, 50, 0.08);


            .mini-mypage-text {
                color: #e55132;
            }
        }
    }

    .user-pop-menu-link {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        padding: 16px 23px 15px 32px;
        background-color: #fff;
     

        &:hover {
            background-color: rgba(229, 81, 50, 0.08);

            .user-pay-content, .user-payment-date, .message-content, .message-category-title {
                color: #e55132;
            }



        }

        &.message-pop-menu-link {
            display: block;
            padding-top: 12px;
            padding-bottom: 12px;
        }
        
        &.new {
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 2px;
                border-radius: 100px;
                background-color: #e55132;
                height: 65%;
                width: 6px;

            }
        }
        
    }

    .user-popup-menu-right {
        width: 96px;
        min-width: 96px;
        border-radius: 7px;
        overflow: hidden;

        .user-pay-list-img  {
            width: 100%;

            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 67%;
        }

    }
}


.user-pay-content {
    font-size: 13px;
    font-weight: 500;
    color: #383838;
    line-height: 1.38;
    letter-spacing: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 5px;
    -webkit-line-clamp: 1;
    display: block;
    
}

.user-popup-menu-left {
    width: 70%;
}

.user-popup-menu-right {
    
    width: 30%;
}

.user-payment-date {
    display: block;
    margin-top: 15px;
    font-size: 10px;
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: normal;
    color: #292929;
}


.message-category-head {
    display: flex;
    align-items: center;

    .message-category-title {
        font-size: 12px;
        font-weight: 700;
        color: #383838;
        line-height: 1.38;
        letter-spacing: normal;
        margin: 0;
        padding-left: 9px;
    }

    
}

.mini-message-icon {
    width: 24px;
    min-width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: url(../img/mini-message-icon.svg);

    &.notice-icon {
        background-image: url(../img/mini-notice-icon.svg);
    }
}

.message-content {
    display: block;
    margin: 0;
    margin-top: 9px;
    font-size: 11px;
    font-weight: 500;
    color: #383838;
    line-height: 1.36;
    letter-spacing: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-box-orient: vertical;
}


.user-pop-menu-item {
    /* padding: 8px 16px; */

    a {
        display: block ;
    }

    &.mini-mypage-popup-item {
        
        padding: 8px 16px;

    }
    .mini-mypage-popup-icon {
        width: 24px;
        height: 24px;
        min-width: 24px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 8px;

        &.my-level {
            background-image: url(../img/mini-level.svg);
        }

        &.total-payment {
            background-image: url(../img/mini-payment.png);
        }

        &.setting-icon {
            background-image: url(../img/mini-setting.png);
        }

        &.mini-logout-icon {
            background-image: url(../img/mini-logout.svg);
        }
    }

    .mini-mypage-text {
        display: inline-block;
        vertical-align: middle;
        font-size: 11px;
        font-weight: 400;
        color: #393939;
        line-height: 1.36;
        letter-spacing: 0.55px;
    }
}

/* 사이드 메뉴 */
.side-menu {
    position: relative;
    width: 100%;
    max-width: 200px;
    height: 100%;
    /* left: -100%; */
    background-color: #fff;
    z-index: 100;
    top: 0;
   

    .side-menu-inner {
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: 0 4px 4px 0;
    }

    .side-menu-inner-head {
        padding:38px  15px 20px;
        border-bottom: 1px solid #f2f2f2;
        width: 100%;
        position: relative;

       img{
            width: 88px;
        }

        .site-logo {
            text-align: center;
        }

    }

    .side-menu-inner-body {
        width: 100%;
        position: relative;
        /* height: 100%; */
        overflow: hidden;
        overflow-y: auto;
        flex: 1;

    }
}

.side-menu-close {
    display: block;
    position: relative;
    left: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../img/more-btn-red.svg);
    width: 24px;
    height: 20px;
    cursor: pointer;
    z-index: 100;
}

.side-menu-content {
}

.menu-content-flex-box {
    display: flex;
    align-items: center;
    padding:21px 20px;
    background-color: #fff;   
}

.menu-content-list {
    cursor: pointer;
    border-bottom: 1px solid #f2f2f2;

    &:last-child {
        margin-bottom: 0;
    }

    &.active {
        .menu-content-flex-box  {
            background-color: #e85549;

        }

        .menu-left-icon {
            &.down-icon { 
                background-image: url(../img/down-on.svg);
            }

            &.market-icon {
                background-image: url(../img/market-on.svg);
            }

            &.pay-icon {
                background-image: url(../img/pay-on.svg);
            }

            &.logout-icon {
                background-image: url(../img/logout-on.svg);
            }
        }
        

        .side-menu-text {
            color: #fff;
            font-weight: 700;
        }
    }

    .menu-left-icon {
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: block;
        margin-right: 16px;


        &.down-icon {
            background-image: url(../img/down.svg);
        }

        &.market-icon {
            background-image: url(../img/market.svg);
        }

        &.pay-icon {
            background-image: url(../img/pay.svg);
        }

        &.logout-icon {
            background-image: url(../img/logout.svg);
        }
    }

}

.side-menu-text {
    font-size: 16px;
    color: #222;
    font-weight: 500;
   
    letter-spacing: normal;
}

.side-menu-inner-menu {
    position: relative;
    flex: initial;
    width: 100%;
    display: none;

}

.side-menu-inner-menu-list {
    

    .side-menu-inner-menu-link {
        padding: 16px 52px;
        display: block;
        width: 100%;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.28;
        letter-spacing: normal;
        color: #828282;

        &.active {
            color: #e85549;
        }

    }


}

.side-menu-inner-footer {
    background-color: rgba(242, 242, 242, 0.4);
}

.side-menu-inner-banner-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 50px;

    img {
        margin-right: 16px;
        height: 72px;
        background-color: #ccc;

        &:last-child {
            margin-right: 0;
        }
    }

   
}

.side-menu-wrap {
    position: fixed;
    z-index: 98;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 100;
    /* height: 100% !important; */
    left: -100%;
    background-color: rgba(0,0,0,0.5);
    
}

.side-menu-inner-menu-item {
    &.active {

    }
}


.slide-icon {
    transition: all .2s ease-in-out;

    &.on {
        transition: all .2s ease-in-out;
        transform: rotate(180deg);
    } 
}

.play-icon-box {
    cursor: pointer;
}

.side-advertising-logon-box {
    padding: 12px 29px;
}

.side-logon-btn {
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
    border: solid 0.7px #f2f2f2;
    background-color: #fff;
    border-radius: 5.7px;
    text-align: center;
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;

    &:last-child {
        margin-bottom: 0;
    }

    img {
        width: 85px;
    }
}

.advertising-item {
    display: block;
    margin-bottom: 12px;
    width: 100%;
    border-radius: 5.7px;
    border: solid 0.7px #f2f2f2;
    overflow: hidden;
    height: 54px;
    background-color: #ccc;

    img {
        height: 100%;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.advertising-box {
    margin-top: 12px;
}

@media screen and (min-width:992px) {
    .side-menu-wrap 
     {
         top: 128px;
         position: absolute;
         width: 100%;
         max-width: 320px;
         z-index: 99;
         height: 100vw;
     }
    .allId-head {
        position: relative;

        .inner-head-outline {
            &.m-head {
                padding: 24px 0;
            }
        }

        .site-logo {
            img {
                height: 80px; 
            }
        } 

        .head-top-box {
            border-bottom: 0;
            padding: 0;

        }

        .head-bottom-box {
            position: absolute;
            top: 24px;
            right: 33px;

        }

        .user-menu-list-box {
            padding: 0;
        }

        .user-menu-list {
           margin: 0 -11px;

            .user-menu-link {
                border: 0;
                padding: 3px 4px;
                

                .user-menu-text {
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 1.75;
                    letter-spacing: normal;
                    
                }

                &.on {
                    box-shadow: none;
                     background-color: rgba(129, 129, 129, 0.08);
                     padding: 3px 4px;
                }

            }

            .user-menu-item {
                padding: 0 11px;
               &:nth-child(2) {
                   border-right: 1px solid #dddddd;
                   padding-right: 21px
               } 

               &:nth-child(3) {
                padding-left: 21px;
            } 
            }
        }

        .user-menu-icon {
            width: 24px;
            height: 24px;
            margin-right: 8px;
        }

        .menu-btn-box {
            top: inherit;
            bottom: 0px;
            padding: 10px 16px;

            border-radius: 9px;

            &.on {
                background-color: rgba(129, 129, 129, 0.08);
            }
        }
        
        .inner-user-popup-wrap {
            max-width: 385px;
            /* padding-top: 60px; */
        }



        .message-length {
            top: -5px;
            right: -9px;
        }

        .user-pop-menu-item {
            .mini-mypage-text {
                font-size: 17px;
                line-height: 1.35;
                letter-spacing: 0.85px;
        
            }

            .mini-mypage-popup-icon {
                width: 32px;
                height: 24px;
            }
        }

        .message-content {
            font-size: 13px;
        }

        .inner-user-popup-wrap{
            &.mini-mypage-popup {
                max-width: 280px;
            }
        }

        .message-category-head  {
            .message-category-title {
                font-size: 13px;
            }
        }
    }

    

    .side-menu {
        max-width: 320px;
        /* top: 128px; */
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #fff;
        position: absolute;
        /* top: 0; */
        bottom: 0;
        /* height: 100vh; */


        .side-menu-inner-head {
            display: none;
        }

        .side-menu-inner-body {
            flex: initial;
        }
    }

    .side-menu-inner-banner-wrap {
        display: block;
        text-align: center;
        bottom: initial;
        margin-top: 104px;
        

        img {
            margin: 0;
            width: 208px;

            &:first-child {
                margin-bottom: 24px;
            }
        }



    }
    
     

    .side-menu-content {
        padding: 32px 0 0 ;
    }

    .menu-content-list {
        .menu-left-icon {
            width: 48px;
            height: 48px;
        }

        .menu-content-flex-box {
            background-color: transparent;
            border: none;
            border-bottom:1px solid rgba(0, 0, 0, 0.5);
            padding: 16px 70px;
        }

        &.active {
            .menu-content-flex-box {
                background-color: transparent;
            }
           
            .side-menu-text  {
                color: #e55132;
            }

            .menu-left-icon{
                &.market-icon {
                    background-image: url(../img/market.svg);
                }

                &.down-icon {
                    background-image: url(../img/down.svg);
                }

                &.pay-icon {
                    background-image: url(../img/pay.svg);
                }

                &.logout-icon {
                    background-image: url(../img/logout.svg);
                }
            }
            
        }
    }

    .side-menu-text {
        font-size: 19px;
        font-weight: 500;
        color: #222;
        line-height: 1.32;
        letter-spacing: normal;

    }

    .side-menu-inner-menu {
        margin-top: 16px;
    }

    .side-menu-inner-menu-list {
        .side-menu-inner-menu-link {
            font-size: 17px;
            font-weight: 500;
            padding: 16px 72px;

        }
    }
}