.user-logon-wrap {
    width: 100%;
    height: 100%;

    .user-logon-bg {
        width: 100vw;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        left: 50%;
        transform: translateX(-50vw);
        position: absolute;
        top: 0;
        bottom: 0;
        
    }

    .user-logon-outline {
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
        padding: 15px;

    }
    .user-logon-outerW {
        width: 100%;
        max-width: 662px;
        margin: auto;

    }

    .logon-box {
        backdrop-filter: blur(3px);
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: rgba(255,255,255,0.08);
        border-radius: 7px;
        padding: 24px 20px 40px;

    }

    .logon-logo-box {
        width: 100%;
        text-align: center;

        img {
            width: 88px;
        }
    }

    .logon-form-box {
        
        padding: 16px 0;

    }

    .logon-input-box {
        /* display: flex;
        align-items: center; */
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }

    }

    .logon-title-box {
        display: block;
        width: 100%;
        text-align: center;
        padding-bottom: 7px;
        border-bottom: 3px solid #ebebeb;
        margin-top: 16px;
        position: relative;
    }

    .logon-title {
        font-size: 12px;
        font-weight: 700;
        color: #7c7c7c;
        line-height: 1.33;
        letter-spacing: normal;
        
        display: block;
        &::after {
            content: '';
            display: block;
            width: 90px;
            border-bottom: 3px solid #c6483e;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -3px;
        }
    }

    .logon-input-name {
        display: block;
        flex: 1;
        
    }

    .logon-input-flex {
        display: flex;
        align-items: center;

        .logon-input {
            width: 70%;
            margin-right: 20px;

        }

        .check-btn {
            width: 30%;
            border: 1px solid #c4c4c4;
            border-radius: 3px;
            text-align: center;
            font-size: 10px;
            color: #717171;
            padding: 10px 8px;
            cursor: pointer;

        }
    }
}

.logon-input {
    border: 1px solid #d0938e;
    background-color: rgba(216, 216, 216,0.8);
    width: 100%;
    padding: 10px 8px; 
    border-radius: 3px;
    font-size: 11px;
    line-height: 1.36;

    &::placeholder {
        color: #292929;
    }

}

.logon-input-name {
    font-size: 11px;
    color: #939393;
    line-height: 1.33;
    letter-spacing:normal;
    font-weight: 400;
    display: block;
    margin-bottom: 5px;
}

.form-submit-btn {
    width: 100%;
    display: block;
    border-radius: 3px;
    border: solid 1px #c6483e;
    background-color: #c6483e;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    color: #fff;
    line-height: 1.36;
    letter-spacing: normal;
    padding: 9px 9px 8px;
    cursor: pointer;
}

.logon-register-btn {
    display: block;
    margin-top: 16px;
    border-top: 3px solid #ebebeb;
    padding-top: 14px;
    font-size: 11px;
    font-weight: 700;
    color: #7c7c7c;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;

    &:hover {
        color: #7c7c7c;
    }
}

.register-logo-box {
    margin: 17px;
    position: relative;
    text-align: center;

    .register-logo {
        width: auto;
        height: 80px;
        /* background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../img/logon-logo.png); */
        margin: 0 auto;

    }

    .register-text {
        position: absolute;
        top: 33px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 10px;
        color: #e2e2e2;
        line-height: 1.4;
        letter-spacing: 0.4px;
    }
}


/* 효과 1 css */
.bg-bubbles{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	/* bottom: 0; */
	height: 100%;
	z-index: -1;
    overflow: hidden;
	
	li{
		position: absolute;
		list-style: none;
		display: block;
		width: 40px;
		height: 40px;
		background-color: rgba(255,255,255,0.15);
		bottom: -160px; 
		
		animation:         square 15s infinite;
		
		-webkit-transition-timing-function: linear;
		transition-timing-function: linear;
		
		&:nth-child(1){
			left: 10%;
		}
		
		&:nth-child(2){
			left: 20%;
			
			width: 80px;
			height: 80px;
			
			animation-delay: 2s;
			animation-duration: 17s;
		}
		
		&:nth-child(3){
			left: 25%;
			animation-delay: 4s;
		}
		
		&:nth-child(4){
			left: 40%;
			width: 60px;
			height: 60px;
			
			animation-duration: 22s;
			
			background-color: rgba(255,255,255,0.25);
		}
		
		&:nth-child(5){
			left: 70%;
		}
		
		&:nth-child(6){
			left: 80%;
			width: 120px;
			height: 120px;
			
			animation-delay: 3s;
			background-color:rgba(255,255,255,0.2);
		}
		
		&:nth-child(7){
			left: 32%;
			width: 160px;
			height: 160px;
			
			animation-delay: 7s;
		}
		
		&:nth-child(8){
			left: 55%;
			width: 20px;
			height: 20px;
			
			animation-delay: 15s;
			animation-duration: 40s;
		}
		
		&:nth-child(9){
			left: 25%;
			width: 10px;
			height: 10px;
			
			animation-delay: 2s;
			animation-duration: 40s;
			background-color: rgba(255,255,255,0.3);
		}
		
		&:nth-child(10){
			left: 90%;
			width: 160px;
			height: 160px;
			
			animation-delay: 11s;
		}
	}
}

@-webkit-keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-700px) rotate(600deg); }
}
@keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-700px) rotate(600deg); }
}
/* //효과 1 css */


/* 효과2 css */
.rain {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    bottom: 0;
  }
  
  .rain.back-row {
    display: none;
    z-index: -1;
    bottom: 0px;
    opacity: 0.5;
  }

  .back-row-toggle .rain.back-row {
    display: block;
  }

  .drop {
    position: absolute;
    bottom: 100%;
    width: 15px;
    height: 120px;
    pointer-events: none;
    animation: drop 0.5s linear infinite;
  }
  
  @keyframes drop {
    0% {
      transform: translateY(0vh);
    }
    75% {
      transform: translateY(90vh);
    }
    100% {
      transform: translateY(90vh);
    }
  }
  
  .stem {
    width: 1px;
    height: 60%;
    margin-left: 7px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
    animation: stem 0.5s linear infinite;
  }
  
  @keyframes stem {
    0% {
      opacity: 1;
    }
    65% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  .splat {
    width: 15px;
    height: 10px;
    border-top: 2px dotted rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    opacity: 1;
    transform: scale(0);
    animation: splat 0.5s linear infinite;
    display: none;
  }

  .splat-toggle .splat {
    display: block;
  }
  @keyframes splat {
    0% {
      opacity: 1;
      transform: scale(0);
    }
    80% {
      opacity: 1;
      transform: scale(0);
    }
    90% {
      opacity: 0.5;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.5);
    }
  }
  
  .toggles {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }
  
  .toggle {
    position: absolute;
    left: 20px;
    width: 50px;
    height: 50px;
    line-height: 51px;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .toggle:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }
  
  .toggle:active {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .toggle.active {
    background-color: rgba(255, 255, 255, 0.4);
  }
  
  .splat-toggle {
    top: 20px;
  }
  
  .back-row-toggle {
    top: 90px;
    line-height: 12px;
    padding-top: 14px;
  }
  
  .single-toggle {
    top: 160px;
  }
  
  .single-toggle .drop {
    display: none;
  }

  .single-toggle .drop:nth-child(10) {
    display: block;
  }

  .fire-bg {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      background-image: url(../img/fire.gif);
      z-index: -1;
  }

  .rainbow-effect {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: none;
    bottom: 0;
    height: 100%;
  }

  .skyline-effect {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background: url(https://jackrugile.com/images/misc/skyline-texture.png);
  }
  

 

@function multiple-box-shadow($n) {
    $value: '#{random(2000)}px #{random(2000)}px #FFF';
    @for $i from 2 through $n {
        $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
    }

    @return unquote($value)
} 

$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200); 
$shadows-big:    multiple-box-shadow(100);
 

.stars-effect {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: auto;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
}

  #stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    animation     : animStar 50s linear infinite;

    &:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $shadows-small;
    }
    
  }
  
    
  
    
#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
    animation     : animStar 100s linear infinite;

    &:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-medium;
    }
    
}
  
    
  
    
#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
    animation     : animStar 150s linear infinite;
      
    &:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: $shadows-big;
    }
      
}
  

    
@keyframes animStar {
    from   {
        transform: translateY(0px) ;
    }
    
  to    {
    transform: translateY(-2000px) ;
  } 
     
}
  

.move-gradient-effect {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0%;
    width: 100%;
    height: 100%;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.diagonal-effect {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    top: 0;
    bottom: 0;
    
    

    svg {
        height: 100%;
        width: 100%;
        

    }
}

#red {
    fill: none;
    opacity: 0.15;
    stroke: #CE1B5F;
    stroke-width: 12;
    stroke-miterlimit:10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
  }
  
  #blue {
    fill: none;
    opacity: 0.15;
    stroke: #06A1C4;
    stroke-width: 12;
    stroke-miterlimit:10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  #light-blue {
    fill: none;
    opacity: 0.15;
    stroke: #06A1C4;
    stroke-width: 6;
    stroke-miterlimit:10;
    stroke-dasharray: 200;
    stroke-dashoffset: 800;
    animation: draw 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;    
  }
  
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
   }
      }
  
  @keyframes show {
    0% {
      opacity: 0.15;
   }
    50% {
      opacity: 0.2;
   }
    100% {
      opacity: 0.15;
   }
}

.moon-bg {
    position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;

    img{
        height: 70vh;
        width:70vh;
        position: absolute;
        z-index: 3;
        right: 20px;
      }
}

@keyframes move-background {
    from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  @-webkit-keyframes move-background {
    from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
  @-moz-keyframes move-background {    
      from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
      @-webkit-keyframes move-background {
      from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }

  .stars {
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       display: block;
         z-index: 0;
   }
   
   .twinkling{
       width:10000px;
       height: 100%;
       background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
       background-size: 1000px 1000px;
       position: absolute;
       right: 0;
       top: 0;
       bottom: 0;
       z-index: 2;
       
       -moz-animation:move-background 70s linear infinite;
     -ms-animation:move-background 70s linear infinite;
     -o-animation:move-background 70s linear infinite;
     -webkit-animation:move-background 70s linear infinite;
     animation:move-background 70s linear infinite;
       
   }
   
   .clouds{
       width:10000px;
       height: 100%;
       background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
       background-size: 1000px 1000px;
       position: absolute;
       right: 0;
       top: 0;
       bottom: 0;
       z-index: 3;
   
      -moz-animation:move-background 150s linear infinite;
     -ms-animation:move-background 150s linear infinite;
     -o-animation:move-background 150s linear infinite;
     -webkit-animation:move-background 150s linear infinite;
     animation:move-background 150s linear infinite;
   }
   



@media screen and (min-width:992px) {
    .user-logon-wrap {
        .logon-box {
            padding: 35px 70px;
        }

        .user-logon-bg {
            position: relative;
        }

        .logon-logo-box {
            img {
                width: 208px;
            }
        }

        .logon-title-box {
            margin-top: 35px;
        }

        .logon-title {
            font-size: 23px;
            padding-bottom: 10px;

            &::after {
                width: 160px;
            }
        }

        .logon-input-box {
            margin-bottom: 18px;
        }

        .logon-input {
            font-size: 20px;
        }

        .logon-form-box {
            padding: 30px 0 40px;
        }

        .form-submit-btn {
            padding: 14px 9px 13px;
            font-size: 20px;
        }

        .logon-register-btn {
            margin-top: 40px;
            font-size: 20px;
        }

        .logon-input-flex {
            .logon-input {
                width: 75%;
                margin-right: 35px;
                padding: 10px 16px;
            }

            .check-btn {
                padding: 17px 10px;
                width: 25%;
                font-size: 16px;
                
            }
        }

        .logon-input-name {
            font-size: 18px;
        }

        .register-text {
            font-size: 14px;
            top: 51px;
        }


        .register-logo {
            height: 120px;
        }
    }
}