.allId-main {
    .content-section1 {
        position: relative;
        z-index: 10;
        padding: 20px 0 6px;
        margin-bottom: 8px;
    
        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            z-index: -1;
            right: 0;
            bottom: 0;
            width: 100vw;
            left: 50%;
            transform: translateX(-50vw);
            background-color: rgba(239, 239, 239, 0.4);
     
        }

        
    }

    .content-section2 {
        position: relative ;
        z-index: 10;
        padding: 80px 0 74px;

        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            z-index: -1;
            right: 0;
            bottom: 0;
            width: 100vw;
            left: 50%;
            transform: translateX(-50vw);
            background-image: linear-gradient(to bottom, rgba(193, 73, 65, 0.37), rgba(255, 255, 255, 0.06));
            opacity: 0.18;
        }
    }

    .statistics-left-box, .statistics-right-box  {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #fff;
        border-radius: 3px;
        z-index: 10;

    }

    .statistics-left-box {
        margin-bottom: 8px;
    }

    .user-statistics-list {
        display: flex;
        align-items: center;
        padding: 8px 0;

        .user-statistics-item {
            position: relative;
            flex: auto;
            text-align: center;

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                width: 1px;
                height: 100%;
                background-color: #f1f2f6;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
    }

    .user-statistics-icon {
        display: block;
        width: 32px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;

        &.all-user-icon {
            background-image: url(../img/all-user-icon.svg);
        }

        &.today-user-icon {
            background-image: url(../img/today-user-icon.png);
        }

        &.yesterday-user-icon {
            background-image: url(../img/yesterday-user-icon.png);
        }

        &.moment-user-icon {
            background-image: url(../img/moment-user-icon.png);
        }
    }

    .user-statistics-title {
        margin: 0;
        display: block;
        font-size: 8px;
        font-weight: 400;
        color: #525252;
        letter-spacing: normal;
        line-height: normal;
    }

    .user-statistics-text {
        display: block;
        margin-top: 8px;
        margin-bottom: 0;
        font-size: 15px;
        font-weight: 500;
        color: #343434;
        line-height: 1.31;
        letter-spacing: normal;
    }

    .visual-banner-wrap {
        width: 100%;
        height: auto;
        position: relative;
        margin-top: 24px;

        .visual-banner-item {
            width: 100%;
            padding-top: 22%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

        }


        .swiper-button-next, .swiper-button-prev {
            color: #707070;

            &.swiper-button-disabled {
                opacity: 1;
            }

            &::after {
                font-size: 40px;
            }
        }

        .visual-banner-paging {
            bottom: 8px !important;
        }

        .swiper-pagination-bullet {
            width: 4px;
            height: 4px;
            margin: 0 2px !important;
            background-color: #666;
            opacity: 0.6;
           

            

            &.swiper-pagination-bullet-active {
                opacity: 1;
            }
        }
    }



    .content-three-list-wrap {
        margin-top: 17px;

        .col-md-4 {
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .content-head {
            padding: 13px 20px ;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
        }
    }

    .content-inner-outline {
        background-color: #fff;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    }

    .dash-border {
        width: 100%;
        border: 1px dashed #9d9d9d;
        margin-bottom: 9px;
    }

    .head-title-item {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;

        .head-inner-icon {
            width: 32px;
            height: 25px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: block;

            &.live-icon {
                background-image: url(../img/live-icon.png);
            }

            &.pay-history-icon {
                background-image: url(../img/pay-history-icon.png);
            }

            &.winning-icon {
                background-image: url(../img/winning-icon.png);
            }
        }

        .head-title {
            margin-bottom: 0;
            margin-left: 2px;
            font-size: 15px;
            font-weight: 700;
            color: #2c2c2c;
            line-height: 1.33;
            letter-spacing: normal;
        }
    }

    .content-body {
        height: 212px;
        max-height: 212px;
        overflow: hidden;
        overflow-y: auto;

        background-color: rgba(170, 170, 170, 0.08);

        &::-webkit-scrollbar {
            width: 15px;
            border-radius: 100%;
            
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
            box-shadow: inset 0px 0px 5px rgba(170, 170, 170, 0.16);
        }

        &::-webkit-scrollbar-thumb {
            background-color: #c7c7c7;
            border-radius: 10px;
            background-clip: padding-box;
            border: 3px solid transparent;
        }
    }

    .scroll-list-item {
        margin-bottom: 16px;
        position: relative;

        &.payhistory-scroll-list-item {
            margin-bottom: 18px;

            &.deal-ing {
                &::before {
                    content: '거래중';
                    display: block;
                    position: absolute;
                    top: -16px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 10;
                    /* background-color: #b1b1b1 ; */
                    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ;  
                    backdrop-filter: blur(2.5px) ;
                    
                    
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 17px;
                    font-weight: 700;
                    line-height: 1.35;
                    letter-spacing: normal;
                                     
                }
            }
        }

        &.winning-list-item {
            margin-bottom: 24px;
        }

        &:last-child {
            margin-bottom: 0px;
        }

       
    }

    .scroll-list-box {
        padding: 24px 24px 8px;
        

        .scroll-list-link {
            background-color: rgba(100, 100, 100, 0.08);
            position: relative;
            padding: 9px 16px;
            font-size: 11px;
            font-weight: 500;
            color: #030303;
            line-height: 1.36;
            letter-spacing: normal;
            text-align: left;
            display: block;
            width: 100%;

            &.unread {
                background-color: rgba(229, 81, 50, 0.08);

                .notice-icon  {
                    background-image: url(../img/notice-icon-on.svg);
                }
                .point-text {
                    color: #ff1f1f;
                }
            }

            &.payment-list-link {
                padding: 5px 8px ;
                padding-right: 19px;
            }


            .scroll-item-date {
                position: absolute;
                display: block;
                right: 0;
                font-size: 8px;
                font-weight: 500;
                color: #9d9d9d;
                line-height: 1.25;
                letter-spacing: normal;
                top: -12px;

            }
        }

    }

    .content-footer  {
        height: 24px;
        width: 100%;
        
    }

    .pay-user-name {
        display: block;
        position: absolute;
        left: 0;
        top: -12px;
        font-size: 9px;
        font-weight: 500;
        color: #000;
        line-height: 1.22;
        letter-spacing: normal;
        
    }

    .pay-history-content-box {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

    }

    .payment-icon {
        display: block;
        width: 24px;
        height: 24px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../img/payment-icon.svg);
        margin-right: 5px;
    }

    .payment-category {
        border-radius: 4px;
        background-color: #fff;
        display: block;
        text-align: center;
        padding: 3px 5px;
        font-size: 8px;
        font-weight: 500;
        color: #0d0d0d;
        line-height: 1.25;
        letter-spacing: normal;
        white-space: nowrap;
    }

    .payment-text {
        display: block;
        flex: auto;
        padding-left: 5px;
        font-size: 11px;
        font-weight: 500;
        color: #030303;
        line-height: 1.36;
        letter-spacing: normal;
        white-space: nowrap;
        overflow: hidden;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
        width: 80%;
    }

    .order-payment {
        display: block;
       /*  margin-top: 6px; */
        width: 100%;
        text-align: right;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.33;
        letter-spacing: normal;
    }

    .notice-box {
       display:flex;
       align-items: flex-start;



    }

    .notice-icon {
        width: 26px;
        height: 16px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url(../img/notice-icon.svg);
        display: block;
    }

    .notice-content-text {
        font-size: 11px;
        font-weight: 500;
        color: #030303;
        line-height: 1.36;
        letter-spacing: normal;
        padding-left: 8px;

    }

    .tab-content-item {
        display: none;
        opacity: 1;
        position: relative;
        
        &.on {
            display: block;
        }
    }

    .tab-content-item-list {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 0 -4px;

        .tab-content-outline{
            

            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            border-radius: 8px;
            background-color: #fff;
            overflow: hidden;
        }

        .tab-content-item-item {
            width: 50%;
            transition: all .2s ease-in-out;
            padding: 0 4px;
            margin-bottom: 16px;
            position: relative;

            &:hover {
                margin-top: -12px;
                transition: all .2s ease-in-out;

                
            }
        }
    }

    .item-box-banner {
        width: 100%;
        padding-top: 55%;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

       

    }
    .item-content-box {
        padding: 4px 8px 7px;
        position: relative;
    }

    .user-account-name {
        margin-top: 4px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        font-size: 11px;
        font-weight: 500;
        color: #000;
        letter-spacing: normal;
        position: relative;
        margin-bottom: 8px;
        justify-content: center;

        &::before {
            content: '';
            display: block;
            border-radius: 20px;
            background-image: linear-gradient(to right, #e86449 2%, #f4b3a6 39%, rgba(255, 255, 255, 0));
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -3px;
            opacity: 0.34;
            height: 100%;

        }

        .user-account-name-text {
            white-space: nowrap;
            -webkit-line-clamp: 1;
            text-overflow: ellipsis;
            overflow: hidden;

        }
    }

    .account-lv {
        white-space: nowrap;
    }

    .more-show-btn {
        display: block;
        width: 100%;
        border: 0.8px solid #dbdbdb;
        border-radius: 8px;
        padding: 7px 15px;
        position: relative;
        font-size: 9px;
        font-weight: 400;
        color: #e86449;
        letter-spacing: normal ;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;

        i {
            color: #e86449;
            font-size: 10px;
        }

        &.pay-go-btn {
            text-align: center;
            background-color: #e86449;
            font-size: 10px;
            color: #fff;
            font-weight: 500;
            display: block;
        }
    }

    .list-item-date {
        font-size: 8px;
        color: #838383;
        font-weight: 400;
        letter-spacing: normal;
    }
    

    .tab-box {
        margin-bottom: 32px;

        .tab-list {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 -12px;

            .tab-item {
                flex: auto;
                padding: 0 12px;

                .tab-link {
                    background-color: #fff;
                    border-radius: 100px;
                    border: 1px solid #dadada;
                    box-sizing: border-box;
                    text-align: center;
                    padding: 12px;
                    font-size: 13px;
                    font-weight: 400;
                    color: #dadada;
                    line-height: 1.38;
                    letter-spacing: normal;
                    display: block;

                    &.on {
                        border-color: #c6483e;
                        color: #b75044;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

.safe-label-icon {
    position: absolute;
    right: 8px;
    bottom: 5px;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 56px;
    height: 15px;
    background-image: url(../img/safe-label-icon.png);

}


@media screen and (min-width:992px) {
    .allId-main {
        display: flex;
        align-items: stretch;
        


        
        
        .statistics-box {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            border-radius: 6px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        }  

        .statistics-left-box, .statistics-right-box {
            flex: 1;
            box-shadow: none;
            border-radius: initial;

        }

        .statistics-left-box {
            margin: 0;

            .user-statistics-list {
                .user-statistics-item {
                    &:last-child {
                        &::after {
                            display: block;
                        }
                    }
                }
            }
        }

        .user-statistics-list {
            padding: 24px 0 ;
        }

        .user-statistics-icon {
            width: 40px;
            height: 40px;

            
        }

        .user-statistics-title {
            font-size: 12px;
            margin-top: 2px;
        }

        .user-statistics-text {
            margin-top: 5px;
            font-size: 25px;
            line-height: 1.32;
        }

        .visual-banner-wrap  {
            margin-top: 16px;

            .visual-banner-item {
                padding-top: 14%;
            }

            .swiper-pagination-bullet {
                width: 8px;
                height: 8px;
                margin: 0 4px !important;
            }

        }

        .content-three-list-wrap {
            margin-top: 24px;

            .content-head {
                padding: 16px  23px;

            }

            .col-md-4 {
                margin-bottom: 0;
            }
        }

        .dash-border {
            margin-bottom: 16px;
        }

        .head-title-item {
            .head-inner-icon {
                width: 24px;
                height: 24px;

                &.pay-history-icon {
                    margin-top: -5px;
                }

                &.winning-icon {
                    margin-top: -5px;
                }
            }

            .head-title {
                font-size: 17px;
                margin: 0 !important;
                margin-left: 5px !important;
            }
        }


        .content-body {
            background-color: #ededed;
            height: 310px;
            max-height: 310px;
        }

        .scroll-list-box {
            .scroll-list-link {
                background-color: #d1d1d1;
            }
        }

        .scroll-list-item {
            margin-bottom: 32px;

            .scroll-list-link {
                font-size: 13px;

                .scroll-item-date {
                    font-size: 10px;

                }
            }

            &.payhistory-scroll-list-item {
                margin-bottom: 32px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .content-section1 {
            margin-bottom: 0;
            padding: 32px 0 55px;
            
            &::before {
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
            }
        }

        .content-section2 {
            &::before {
                opacity: 0.18;
                background-image: linear-gradient(to bottom, rgba(193, 73, 65, 0.37), rgba(255, 255, 255, 0.06));
            }
        }

        .notice-content-text {
            font-size: 12px;
        }


        .tab-content-item-list {
            margin: 0 -8px;

            .tab-content-item-item {
                width: 25%;
                padding: 0 8px;
            }
        }

        .user-account-name {
            margin-top: 9px;
            justify-content: flex-start;
            padding-left: 5px;
            margin-bottom: 16px;

            &::before {
                height: 16px;
            }
            .user-account-name-text {
                font-size: 17px;
                font-weight: 500;
                color: #000;

            }
        }

        .account-lv {
            font-size: 16px;
            font-weight: 500;
        }

        .more-show-btn {
            padding: 11px 16px;
            font-size: 14px;

            i {
                font-size: 12px;
            }

            &.pay-go-btn {
                margin-top: 23px;
                padding: 15px;
                font-size: 15px;
                font-weight: 500;
            }

        }

        .list-item-date {
            font-size: 12px;

        }


        .item-content-box {
            padding: 4px 16px 8px;
        }

        .tab-box {
            .tab-list {
                border-bottom: 1px solid #d9dadc;

                .tab-item { 
                    flex:  0 0 25%;

                    .tab-link {
                        border-radius: initial;
                        background-color: transparent;
                        border: 0;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 1.3;
                        opacity: 0.2;
                        color: #c6483e;
                        position: relative;


                        &.on {
                            opacity: 1;

                            &::after {
                                content: '';
                                display: block;
                                position: absolute;
                                bottom: -1.7px;
                                width: 100%;
                                height: 3px;
                                background-color: #c6483e;
                                border-radius: 100px;
                            }
                        }

                    }
                }
            }
        }

        .item-box-banner {
            
        }


    }

    .safe-label-icon {
        width: 88px;
        height: 24px;
        right: 16px;
        bottom: 16px;
    }
    
}