.allId-custom-modal {
    

    .modal-content {
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        height: 100%;
        max-height: 528px;
    }

    .modal-dialog {
        /* width: 100%; */
        max-width: 800px;
        height: 100%;
        
        border-radius: 8px;
        overflow: hidden;
        margin: 15px;
        
    }

    .modal-header {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #e85549;
        padding: 12px 24px;
        position: relative;
        border-radius: 0;
        justify-content: center;
    }

    .modal-title {
        img {
           height:25px;
        }

        .custom-modal-close-btn {
            position: absolute;
            right: 16px;
            top: 12px;
            cursor: pointer;
            
            i {
                color: #fff;
                font-size: 30px;


            }
        }
    }

    .modal-body {
        padding: 0;
        position: initial;
        height: 100%;
        overflow-y: auto;
    }

    .modal-content {
        background-image: url(../img/modal-new-bg.png);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .show-explan-bg {
    }

    .check-circle-icon {
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../img/check-circle.svg);
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
        background-size: cover;

    }

    .popup-content-wrap {
        padding: 24px;

        &.pay-charge-content-wrap {
            padding: 0 15px 15px;
        }
    }

    .pay-ment-bg {
        padding: 30px 15px;
       
        position: relative;
        background-repeat: no-repeat;
        background-position: bottom center;
        background-image: url(../img/bottom-special.png);
        background-size: cover;
        width: 100%;
        max-width: 704px;
        margin: 0 auto 30px;

        /* &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            
            padding-top: 110%;
            width: 100%;
            height: 100%;
            background-size: auto;
            z-index: -1;

            
        } */

        
        
    }

    .show-pay-charge-bg {
        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-image: url(../img/charge-bg.png);
            padding-top: 71%;
            width: 100%;
            
            z-index: -1;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .show-order-bg {
        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-image: url(../img/order-bg.png);
            padding-top: 50%;
            width: 100%;
            
            z-index: -1;
            left: 50%;
            transform: translateX(-50%);
        }
    }


    .popup-content-title {
        font-size: 12px;
        font-weight: 500;
        color: #292929;
        line-height: 1.3;
        letter-spacing: 1px;
        margin-bottom: 15px;
        text-align: left;  
    }

    .content-start-top-icon {
        width: 48px;
        height: 48px;
        
        display: block;
        position: relative;
        text-align: center;
        margin: 0 auto 8px;
    }

    .content-scroll-box {
        background-color: rgba(178, 178, 178, 0.2);
        border-radius: 4px;
        position: relative;
        width: 100%;
        margin: 0 auto 30px;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }

    .content-scroll-title {
        padding: 10px 15px;
        display: block;
        margin: 0;
        display: flex;
        align-items: center;
        font-size: 10px;
        color: #333;
        font-weight: 600;

        img {
            width: 10px;
            height: 10px;
            margin-right: 8px;
        }



    }

    .scroll-content-item {
        height: 120px;
        max-height: 120px;
        overflow: hidden;
        overflow-y: auto;
        background-color: #fff;
        padding: 10px;

        &::-webkit-scrollbar {
            width: 17px;            
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
            box-shadow: inset 0px 0px 5px rgba(170, 170, 170, 0.16);
        }

        &::-webkit-scrollbar-thumb {
            background-color: #f2f2f2;
            border-radius: 10px;
            background-clip: padding-box;
            border: 4px solid transparent;
        }
        
    }

    .popup-notice-text {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: normal;
        display: block;
        color: #828282;
    }

    .explan-popup-footer {
        justify-content: center;
        border: 0;
        border-radius: 0;
        padding: 0 15px 32px;

    }

    .custom-red-defalut-btn {
        width: 100%;
        background-color: #e85549;
        border-radius: 3px;
        text-align: center;
        color: #fff;
        padding: 12px;
        display: block;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: normal;
        line-height: 1.9;
        border-color: unset;
        cursor: pointer;
        border: 0;


        &.custom-white-btn {
            border-radius: 3px;
            background-color: #fff;
            border: solid 1px #f0eff1;
            text-align: center;
            padding: 12px;
            width: 100%;
            display: block;
            font-size: 15px;
            font-weight: 700;
            color: #8b8b8b;
            margin: 0;
        }
    }

    .modal-footer {
        
        border: 0;

    }
    .content-scroll-date-text {
        position: absolute;
        display: block;
        top: 2px;
        right: 11px;
         font-size: 6px;
        color: #606060;
        font-weight: 400;

    }



    .payment-charge-content {
        width: 100%;
        max-width: 536px;
        margin-bottom: 8px;
        background-color: #fff;
        border-radius: 3px;
        border: 1px solid #e2e2e2;
 

        .pay-charge-content-item {
            padding: 8px  16px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #e2e2e2;

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    .pay-charge-category {
        display: flex;
        border-right: 1px solid #e2e2e2;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.6;
        color: #e45131;
        padding-right: 32px;
        align-items: center;
        white-space: nowrap;

    }

    .category-icon {
        width: 22px;
        height: 14px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 9px;
        display: block;

        &.card-icon {
            background-image: url(../img/credit-card.svg);
        }

        &.user-icon {
            height: 17px;
            background-image: url(../img/user-name.svg);
        }
    }

    .charge-content-text {
        padding-left: 24px;
        font-size: 15px;
        font-weight: 400 ;
        color: #484848;
        line-height: 1.6;
        letter-spacing: normal;
    }
    
}

.defalut-input {
    width: 100%;
    border-radius: 3px;
    background-color: #fff;
    border: 2px solid #e55132;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: normal;
    padding: 16px 14px;
    
}

.pay-input-box {
    padding: 0 15px;
    width: 100%;
    max-width: 620px;
    margin: 0 auto;

}



.paycharge-footer {
    display: block;
    padding: 0 15px 30px;
}

.footer-btn-box {
    max-width: 624px;
    margin: 0 auto;
}

.order-category-box {
    position: relative;
    border-radius: 21px;
    border: 1.5px solid #c6c6c6;
    background-color: #bbb;
    width: 100%;
    max-width: 480px;
    margin: 0 auto 8px;
    overflow: hidden;


    .order-category-img {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        object-fit: cover;
        width: 100%;
        height: 100%;
        padding-top: 39%;
    }

    .safe-label-icon {
        right: 24px;
        bottom: 16px;
    }
}

.order-check-item {
    width: 100%;
    margin: 0 auto 16px ;
   

    &:last-child {
        margin-bottom: 0;
    }
}

.order-check-item-inner{
    border-radius: 5px 5px 0 0;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    position: relative;
    z-index: 10;

 
    &.active {
        background-color: #e85549;
        box-shadow:0 0 0 1px solid #e85549;

        .order-content-text {
            color: #fff;
        }

        .order-content-coin-icon {
            background-image: url(../img/doller-icon.png);
        }

        .order-content-payment {
            color: #fff
        }
    }
}

.custom-radio-fake-box {
    width: 12px;
    min-width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../img/check-box-new.svg);
    margin-right: 8px;
    cursor: pointer;
}

.order-content-text {
    font-size: 10px;
    font-weight: 400;
    color: #333;
    display: block;
    margin-right: 15px;
    line-height: 1.04;
}

.order-length-choice-box {
    display: flex;
    align-items: center;

}

.length-icon {
    width: 13px;
    height: 13px;
    display: block;
    cursor: pointer;
    object-fit: cover;
}

.length-text {
    display: block;
    padding: 4px;
    margin: 0 8px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    color: #333;
    white-space: nowrap;
    width: 25px;
}

.order-detail-content-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 5px;
    background-color: #fff;
    padding: 13px 15px;
    margin: -5px 0px 0;
    display: none;
    border:inset 1px #e85549;
    box-sizing: border-box;

    .order-content-text-detail {
        font-size: 10px;
        margin-right: 30px;
        text-align: center;
    }
}

.detail-content-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order-check-radio[type="radio"]:checked + .custom-radio-fake-box {
    background-image: url(../img/check-on-new.svg);
}

.order-chekc-itme-inner {
    display: flex;
    align-items: center;
    padding: 12px;
    justify-content: space-between;
    margin: 0;

}

.order-check-wrap {
    padding: 15px 0px ;
}

.order-content-text {
    font-size: 10px;
    font-weight: 500;
    color: #4b4a4a;   
    line-height: 1.18;
    letter-spacing: normal;
    display: block;
   
}

.order-content-coin-icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../img/doller-icon-red.svg);
    margin-top: -2px;
}

.order-content-payment {
    font-size: 10px;
    font-weight: 500;
    color: #333;
    line-height: 1.18;
    letter-spacing: normal;
}

.explan-item-thumbnail-box {
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    overflow: hidden;
    margin: 0 0 14px;
}

.explan-item-thumbnail-outline {
    position: relative;

    .explan-thumbnail-item {
        width: 100%;
        height: 118px;
        object-fit: cover;
        object-position: center center;
    }

    .explan-safe-label {
        position: absolute;
        width: 56px;
        right: 16px;
        bottom: 10px;
    }
}

.explan-item-info {
    padding: 15px 16px;
    display: flex;
    align-items: center;
}

.explan-item-category {
    color: #e85549;
    font-size: 10px;
    font-weight: 600;
    display: block;
    margin-right: 8px;
}

.explan-item-title {
    font-size: 10px;
    font-weight: 500;
    color: #333;
    display: block;
    margin: 0;
}

.explan-content-inner {
    display: block;
}

.scroll-content-text {
    word-break: break-all;
    font-size: 10px;
    color: #4f4f4f;
    font-weight: 400;
    margin: 0;
    display: block;
}

.explan-pc-box {
    display: none;
}

@media screen and (min-width:992px) {
    .order-check-wrap {
        padding: 0;
    }

    .flex-inner-box {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .order-check-wrap {
        flex: 0 0 48%;
    }
    .explan-content-inner {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }

    .order-content-text  {
        margin-right: 30px;
    }
    .custom-radio-fake-box {
        margin-right: 40px;
    }
    .order-detail-content-box {
        .order-content-text-detail  {
            br {
                display: none ;
            }
        }
    }
    .allId-custom-modal {
        .pay-ment-bg {
            padding: 56px 40px;
        }
        .modal-header {
            padding: 18px 49px;
        }

        .modal-title {
            .custom-modal-close-btn {
                i {
                    font-size: 40px;
                }
            }    
        }

        .show-pay-charge-bg  {
            &::before {
                background-size: contain;
            }
        }

        .popup-content-wrap {

        }


        .popup-content-title {
            text-align: left;
            font-size: 20px;
            margin-bottom: 35px;

        }

        .check-circle-icon {
            width: 27px;
            height: 27px;
            margin-right: 11px;
        }

        .content-start-top-icon {
            margin-bottom: 24px;
            height: 64px;
            width: 64px;
        }


        .scroll-content-item {
            .scroll-item-list {
                padding: 8px 31px;
    
                li {
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 1.54;
    
                }
            }
        }

        

        .popup-notice-text {
            display: none;
        }

        .explan-popup-footer {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            padding: 0 37px 38px;

            .custom-red-defalut-btn {
                flex: 0 0 48%;
            }

        }

        .explan-pc-box {
            display: block;
            box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            background-color: #fff;
            padding: 14px 20px;
            flex: 0 48%;
        }

        .explan-pc-text {
            font-size: 14px;
            color: #4f4f4f;
            font-weight: 400;
            display: block;
            margin: 0;

        }

        .custom-red-defalut-btn {
            padding: 20px;
            width: 100%;
            font-size: 23px;
            font-weight: 700;
            line-height: 1.04;
            letter-spacing: 1.38px;
            margin: 0;

            &.custom-white-btn {
                font-size: 23px;
                padding: 20px;
            }
        }

        .content-scroll-date-text {
            font-size: 10px;
            right: 15px;
            top: 4px;
        }

        .modal-dialog.modal-dialog-show-explan {
            max-width: 1255px;
            height: auto;
        }
       
    
        .safe-label-icon {
            width: 88px;
            height: 24px;
            right: 16px;
            bottom: 16px;
        }
    
        .explan-item-thumbnail-box {
            flex: 0 0 48%;
            margin: 0;
        }
    
        .content-scroll-box {
            flex: 0 0 48%;
            margin: 0;
        }
    }

    
    
}