.dash_board {
  background-color: #F9F9F9;
  position: relative;
}

.my_page_box {
  position: absolute;
  width: fit-content;
  top: 108px;
  right: 36px;
  z-index: 1;
  
  .menu_list {
    display: flex;
    align-items: center;
    margin: 0 -15px;

    > li {
      position: relative;
      padding: 0 15px;

      &::after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 8px;
        width: 1px;
        height: 11px;
        background-color: #707070;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }

  .my_page_link {
    font-size: 14px;
    font-weight: 500;
    color: #4B4B4B;

    > img {
      margin-left: 10px;
    }
  }
}

@media screen and (min-width:992px) {
  .my_page_box  {
    top:130px;
    right:76px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.16);
    border-radius: 0 0 10px 10px;
    padding: 10px 20px;
    background-color: #fff;
  }
}