@charset "UTF-8";
.allId-main .content-section1 {
  position: relative;
  z-index: 10;
  padding: 20px 0 6px;
  margin-bottom: 8px;
}

.allId-main .content-section1::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  z-index: -1;
  right: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;
  -webkit-transform: translateX(-50vw);
          transform: translateX(-50vw);
  background-color: rgba(239, 239, 239, 0.4);
}

.allId-main .content-section2 {
  position: relative;
  z-index: 10;
  padding: 80px 0 74px;
}

.allId-main .content-section2::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  z-index: -1;
  right: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;
  -webkit-transform: translateX(-50vw);
          transform: translateX(-50vw);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(193, 73, 65, 0.37)), to(rgba(255, 255, 255, 0.06)));
  background-image: linear-gradient(to bottom, rgba(193, 73, 65, 0.37), rgba(255, 255, 255, 0.06));
  opacity: 0.18;
}

.allId-main .statistics-left-box, .allId-main .statistics-right-box {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  border-radius: 3px;
  z-index: 10;
}

.allId-main .statistics-left-box {
  margin-bottom: 8px;
}

.allId-main .user-statistics-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0;
}

.allId-main .user-statistics-list .user-statistics-item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  text-align: center;
}

.allId-main .user-statistics-list .user-statistics-item::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #f1f2f6;
}

.allId-main .user-statistics-list .user-statistics-item:last-child::after {
  display: none;
}

.allId-main .user-statistics-icon {
  display: block;
  width: 32px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.allId-main .user-statistics-icon.all-user-icon {
  background-image: url(../img/all-user-icon.svg);
}

.allId-main .user-statistics-icon.today-user-icon {
  background-image: url(../img/today-user-icon.png);
}

.allId-main .user-statistics-icon.yesterday-user-icon {
  background-image: url(../img/yesterday-user-icon.png);
}

.allId-main .user-statistics-icon.moment-user-icon {
  background-image: url(../img/moment-user-icon.png);
}

.allId-main .user-statistics-title {
  margin: 0;
  display: block;
  font-size: 8px;
  font-weight: 400;
  color: #525252;
  letter-spacing: normal;
  line-height: normal;
}

.allId-main .user-statistics-text {
  display: block;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 500;
  color: #343434;
  line-height: 1.31;
  letter-spacing: normal;
}

.allId-main .visual-banner-wrap {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 24px;
}

.allId-main .visual-banner-wrap .visual-banner-item {
  width: 100%;
  padding-top: 22%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.allId-main .visual-banner-wrap .swiper-button-next, .allId-main .visual-banner-wrap .swiper-button-prev {
  color: #707070;
}

.allId-main .visual-banner-wrap .swiper-button-next.swiper-button-disabled, .allId-main .visual-banner-wrap .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.allId-main .visual-banner-wrap .swiper-button-next::after, .allId-main .visual-banner-wrap .swiper-button-prev::after {
  font-size: 40px;
}

.allId-main .visual-banner-wrap .visual-banner-paging {
  bottom: 8px !important;
}

.allId-main .visual-banner-wrap .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  margin: 0 2px !important;
  background-color: #666;
  opacity: 0.6;
}

.allId-main .visual-banner-wrap .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.allId-main .content-three-list-wrap {
  margin-top: 17px;
}

.allId-main .content-three-list-wrap .col-md-4 {
  margin-bottom: 8px;
}

.allId-main .content-three-list-wrap .col-md-4:last-child {
  margin-bottom: 0;
}

.allId-main .content-three-list-wrap .content-head {
  padding: 13px 20px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
}

.allId-main .content-inner-outline {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.allId-main .dash-border {
  width: 100%;
  border: 1px dashed #9d9d9d;
  margin-bottom: 9px;
}

.allId-main .head-title-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.allId-main .head-title-item .head-inner-icon {
  width: 32px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
}

.allId-main .head-title-item .head-inner-icon.live-icon {
  background-image: url(../img/live-icon.png);
}

.allId-main .head-title-item .head-inner-icon.pay-history-icon {
  background-image: url(../img/pay-history-icon.png);
}

.allId-main .head-title-item .head-inner-icon.winning-icon {
  background-image: url(../img/winning-icon.png);
}

.allId-main .head-title-item .head-title {
  margin-bottom: 0;
  margin-left: 2px;
  font-size: 15px;
  font-weight: 700;
  color: #2c2c2c;
  line-height: 1.33;
  letter-spacing: normal;
}

.allId-main .content-body {
  height: 212px;
  max-height: 212px;
  overflow: hidden;
  overflow-y: auto;
  background-color: rgba(170, 170, 170, 0.08);
}

.allId-main .content-body::-webkit-scrollbar {
  width: 15px;
  border-radius: 100%;
}

.allId-main .content-body::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-box-shadow: inset 0px 0px 5px rgba(170, 170, 170, 0.16);
          box-shadow: inset 0px 0px 5px rgba(170, 170, 170, 0.16);
}

.allId-main .content-body::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 10px;
  background-clip: padding-box;
  border: 3px solid transparent;
}

.allId-main .scroll-list-item {
  margin-bottom: 16px;
  position: relative;
}

.allId-main .scroll-list-item.payhistory-scroll-list-item {
  margin-bottom: 18px;
}

.allId-main .scroll-list-item.payhistory-scroll-list-item.deal-ing::before {
  content: '거래중';
  display: block;
  position: absolute;
  top: -16px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  /* background-color: #b1b1b1 ; */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: normal;
}

.allId-main .scroll-list-item.winning-list-item {
  margin-bottom: 24px;
}

.allId-main .scroll-list-item:last-child {
  margin-bottom: 0px;
}

.allId-main .scroll-list-box {
  padding: 24px 24px 8px;
}

.allId-main .scroll-list-box .scroll-list-link {
  background-color: rgba(100, 100, 100, 0.08);
  position: relative;
  padding: 9px 16px;
  font-size: 11px;
  font-weight: 500;
  color: #030303;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  display: block;
  width: 100%;
}

.allId-main .scroll-list-box .scroll-list-link.unread {
  background-color: rgba(229, 81, 50, 0.08);
}

.allId-main .scroll-list-box .scroll-list-link.unread .notice-icon {
  background-image: url(../img/notice-icon-on.svg);
}

.allId-main .scroll-list-box .scroll-list-link.unread .point-text {
  color: #ff1f1f;
}

.allId-main .scroll-list-box .scroll-list-link.payment-list-link {
  padding: 5px 8px;
  padding-right: 19px;
}

.allId-main .scroll-list-box .scroll-list-link .scroll-item-date {
  position: absolute;
  display: block;
  right: 0;
  font-size: 8px;
  font-weight: 500;
  color: #9d9d9d;
  line-height: 1.25;
  letter-spacing: normal;
  top: -12px;
}

.allId-main .content-footer {
  height: 24px;
  width: 100%;
}

.allId-main .pay-user-name {
  display: block;
  position: absolute;
  left: 0;
  top: -12px;
  font-size: 9px;
  font-weight: 500;
  color: #000;
  line-height: 1.22;
  letter-spacing: normal;
}

.allId-main .pay-history-content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.allId-main .payment-icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/payment-icon.svg);
  margin-right: 5px;
}

.allId-main .payment-category {
  border-radius: 4px;
  background-color: #fff;
  display: block;
  text-align: center;
  padding: 3px 5px;
  font-size: 8px;
  font-weight: 500;
  color: #0d0d0d;
  line-height: 1.25;
  letter-spacing: normal;
  white-space: nowrap;
}

.allId-main .payment-text {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding-left: 5px;
  font-size: 11px;
  font-weight: 500;
  color: #030303;
  line-height: 1.36;
  letter-spacing: normal;
  white-space: nowrap;
  overflow: hidden;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  width: 80%;
}

.allId-main .order-payment {
  display: block;
  /*  margin-top: 6px; */
  width: 100%;
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: normal;
}

.allId-main .notice-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.allId-main .notice-icon {
  width: 26px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/notice-icon.svg);
  display: block;
}

.allId-main .notice-content-text {
  font-size: 11px;
  font-weight: 500;
  color: #030303;
  line-height: 1.36;
  letter-spacing: normal;
  padding-left: 8px;
}

.allId-main .tab-content-item {
  display: none;
}

.allId-main .tab-content-item.on {
  display: block;
}

.allId-main .tab-content-item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -4px;
}

.allId-main .tab-content-item-list .tab-content-outline {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
}

.allId-main .tab-content-item-list .tab-content-item-item {
  width: 50%;
  padding: 0 4px;
  margin-bottom: 16px;
}

.allId-main .item-box-banner {
  width: 100%;
  padding-top: 55%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.allId-main .item-content-box {
  padding: 4px 8px 7px;
  position: relative;
}

.allId-main .user-account-name {
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 11px;
  font-weight: 500;
  color: #000;
  letter-spacing: normal;
  position: relative;
  margin-bottom: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.allId-main .user-account-name::before {
  content: '';
  display: block;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(2%, #e86449), color-stop(39%, #f4b3a6), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, #e86449 2%, #f4b3a6 39%, rgba(255, 255, 255, 0));
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -3px;
  opacity: 0.34;
  height: 100%;
}

.allId-main .user-account-name .user-account-name-text {
  white-space: nowrap;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

.allId-main .account-lv {
  white-space: nowrap;
}

.allId-main .more-show-btn {
  display: block;
  width: 100%;
  border: 0.8px solid #dbdbdb;
  border-radius: 8px;
  padding: 7px 15px;
  position: relative;
  font-size: 9px;
  font-weight: 400;
  color: #e86449;
  letter-spacing: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
}

.allId-main .more-show-btn i {
  color: #e86449;
  font-size: 10px;
}

.allId-main .more-show-btn.pay-go-btn {
  text-align: center;
  background-color: #e86449;
  font-size: 10px;
  color: #fff;
  font-weight: 500;
  display: block;
}

.allId-main .list-item-date {
  font-size: 8px;
  color: #838383;
  font-weight: 400;
  letter-spacing: normal;
}

.allId-main .tab-box {
  margin-bottom: 32px;
}

.allId-main .tab-box .tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -12px;
}

.allId-main .tab-box .tab-list .tab-item {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding: 0 12px;
}

.allId-main .tab-box .tab-list .tab-item .tab-link {
  background-color: #fff;
  border-radius: 100px;
  border: 1px solid #dadada;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 12px;
  font-size: 13px;
  font-weight: 400;
  color: #dadada;
  line-height: 1.38;
  letter-spacing: normal;
  display: block;
}

.allId-main .tab-box .tab-list .tab-item .tab-link.on {
  border-color: #c6483e;
  color: #b75044;
  font-weight: 700;
}

.safe-label-icon {
  position: absolute;
  right: 8px;
  bottom: 5px;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 56px;
  height: 15px;
  background-image: url(../img/safe-label-icon.png);
}

@media screen and (min-width: 992px) {
  .allId-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .allId-main .statistics-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }
  .allId-main .statistics-left-box, .allId-main .statistics-right-box {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: initial;
  }
  .allId-main .statistics-left-box {
    margin: 0;
  }
  .allId-main .statistics-left-box .user-statistics-list .user-statistics-item:last-child::after {
    display: block;
  }
  .allId-main .user-statistics-list {
    padding: 24px 0;
  }
  .allId-main .user-statistics-icon {
    width: 40px;
    height: 40px;
  }
  .allId-main .user-statistics-title {
    font-size: 12px;
    margin-top: 2px;
  }
  .allId-main .user-statistics-text {
    margin-top: 5px;
    font-size: 25px;
    line-height: 1.32;
  }
  .allId-main .visual-banner-wrap {
    margin-top: 16px;
  }
  .allId-main .visual-banner-wrap .visual-banner-item {
    padding-top: 14%;
  }
  .allId-main .visual-banner-wrap .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 0 4px !important;
  }
  .allId-main .content-three-list-wrap {
    margin-top: 24px;
  }
  .allId-main .content-three-list-wrap .content-head {
    padding: 16px  23px;
  }
  .allId-main .content-three-list-wrap .col-md-4 {
    margin-bottom: 0;
  }
  .allId-main .dash-border {
    margin-bottom: 16px;
  }
  .allId-main .head-title-item .head-inner-icon {
    width: 24px;
    height: 24px;
  }
  .allId-main .head-title-item .head-inner-icon.pay-history-icon {
    margin-top: -5px;
  }
  .allId-main .head-title-item .head-inner-icon.winning-icon {
    margin-top: -5px;
  }
  .allId-main .head-title-item .head-title {
    font-size: 17px;
    margin: 0 !important;
    margin-left: 5px !important;
  }
  .allId-main .content-body {
    background-color: #ededed;
    height: 310px;
    max-height: 310px;
  }
  .allId-main .scroll-list-box .scroll-list-link {
    background-color: #d1d1d1;
  }
  .allId-main .scroll-list-item {
    margin-bottom: 32px;
  }
  .allId-main .scroll-list-item .scroll-list-link {
    font-size: 13px;
  }
  .allId-main .scroll-list-item .scroll-list-link .scroll-item-date {
    font-size: 10px;
  }
  .allId-main .scroll-list-item.payhistory-scroll-list-item {
    margin-bottom: 32px;
  }
  .allId-main .scroll-list-item.payhistory-scroll-list-item:last-child {
    margin-bottom: 0;
  }
  .allId-main .content-section1 {
    margin-bottom: 0;
    padding: 32px 0 55px;
  }
  .allId-main .content-section1::before {
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  }
  .allId-main .content-section2::before {
    opacity: 0.18;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(193, 73, 65, 0.37)), to(rgba(255, 255, 255, 0.06)));
    background-image: linear-gradient(to bottom, rgba(193, 73, 65, 0.37), rgba(255, 255, 255, 0.06));
  }
  .allId-main .notice-content-text {
    font-size: 12px;
  }
  .allId-main .tab-content-item-list {
    margin: 0 -8px;
  }
  .allId-main .tab-content-item-list .tab-content-item-item {
    width: 25%;
    padding: 0 8px;
  }
  .allId-main .user-account-name {
    margin-top: 9px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 5px;
    margin-bottom: 16px;
  }
  .allId-main .user-account-name::before {
    height: 16px;
  }
  .allId-main .user-account-name .user-account-name-text {
    font-size: 17px;
    font-weight: 500;
    color: #000;
  }
  .allId-main .account-lv {
    font-size: 16px;
    font-weight: 500;
  }
  .allId-main .more-show-btn {
    padding: 11px 16px;
    font-size: 14px;
  }
  .allId-main .more-show-btn i {
    font-size: 12px;
  }
  .allId-main .more-show-btn.pay-go-btn {
    margin-top: 23px;
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
  }
  .allId-main .list-item-date {
    font-size: 12px;
  }
  .allId-main .item-content-box {
    padding: 4px 16px 8px;
  }
  .allId-main .tab-box .tab-list {
    border-bottom: 1px solid #d9dadc;
  }
  .allId-main .tab-box .tab-list .tab-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .allId-main .tab-box .tab-list .tab-item .tab-link {
    border-radius: initial;
    background-color: transparent;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    opacity: 0.2;
    color: #c6483e;
    position: relative;
  }
  .allId-main .tab-box .tab-list .tab-item .tab-link.on {
    opacity: 1;
  }
  .allId-main .tab-box .tab-list .tab-item .tab-link.on::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1.7px;
    width: 100%;
    height: 3px;
    background-color: #c6483e;
    border-radius: 100px;
  }
  .safe-label-icon {
    width: 88px;
    height: 24px;
    right: 16px;
    bottom: 16px;
  }
}

/*# sourceMappingURL=main.css.map */
