.allId-custom-modal .modal-content {
  border-radius: 0 !important;
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.allId-custom-modal .modal-dialog {
  /* width: 100%; */
  max-width: 800px;
  height: 90%;
}

.allId-custom-modal .modal-header {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #e85549;
  padding: 18px 33px;
  position: relative;
  border-radius: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.allId-custom-modal .modal-title img {
  width: 114px;
}

.allId-custom-modal .modal-title .custom-modal-close-btn {
  position: absolute;
  right: 33px;
  top: 18px;
  cursor: pointer;
}

.allId-custom-modal .modal-title .custom-modal-close-btn i {
  color: #fff;
  font-size: 30px;
}

.allId-custom-modal .modal-body {
  padding: 0;
  position: initial;
  height: 100%;
  overflow-y: auto;
}

.allId-custom-modal .modal-content {
  background-image: url(../img/modal-new-bg.png);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.allId-custom-modal .check-circle-icon {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/check-circle.svg);
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  background-size: cover;
}

.allId-custom-modal .popup-content-wrap {
  padding: 24px 37px;
}

.allId-custom-modal .popup-content-wrap.pay-charge-content-wrap {
  padding: 0 15px 15px;
}

.allId-custom-modal .pay-ment-bg {
  padding: 30px 15px;
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-image: url(../img/bottom-special.png);
  background-size: cover;
  width: 100%;
  max-width: 704px;
  margin: 0 auto 30px;
  /* &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            
            padding-top: 110%;
            width: 100%;
            height: 100%;
            background-size: auto;
            z-index: -1;

            
        } */
}

.allId-custom-modal .show-pay-charge-bg::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/charge-bg.png);
  padding-top: 71%;
  width: 100%;
  z-index: -1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.allId-custom-modal .show-order-bg::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/order-bg.png);
  padding-top: 50%;
  width: 100%;
  z-index: -1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.allId-custom-modal .popup-content-title {
  font-size: 20px;
  font-weight: 500;
  color: #292929;
  line-height: 1.3;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-align: left;
}

.allId-custom-modal .content-start-top-icon {
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
  text-align: center;
  margin: 0 auto 8px;
}

.allId-custom-modal .content-scroll-box {
  background-color: rgba(178, 178, 178, 0.2);
  border-radius: 4px;
  position: relative;
  width: 100%;
  margin: 0 auto 60px;
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.allId-custom-modal .content-scroll-title {
  padding: 16px;
  display: block;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.allId-custom-modal .content-scroll-title img {
  width: 20px;
  height: 19px;
  margin-right: 8px;
}

.allId-custom-modal .scroll-content-item {
  height: 264px;
  max-height: 264px;
  overflow: hidden;
  overflow-y: auto;
  background-color: #fff;
  padding: 16px 20px;
}

.allId-custom-modal .scroll-content-item::-webkit-scrollbar {
  width: 17px;
}

.allId-custom-modal .scroll-content-item::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-box-shadow: inset 0px 0px 5px rgba(170, 170, 170, 0.16);
          box-shadow: inset 0px 0px 5px rgba(170, 170, 170, 0.16);
}

.allId-custom-modal .scroll-content-item::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
  border-radius: 10px;
  background-clip: padding-box;
  border: 4px solid transparent;
}

.allId-custom-modal .popup-notice-text {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: normal;
  display: block;
  color: #000;
  margin: 0 0 16px;
}

.allId-custom-modal .explan-popup-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0;
  border-radius: 0;
  padding: 0 15px 32px;
}

.allId-custom-modal .custom-red-defalut-btn {
  width: 100%;
  background-color: #e85549;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  padding: 12px;
  display: block;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.9;
  border-color: unset;
  cursor: pointer;
  border: 0;
}

.allId-custom-modal .custom-red-defalut-btn.custom-white-btn {
  border-radius: 3px;
  background-color: #fff;
  border: solid 1px #f0eff1;
  text-align: center;
  padding: 12px;
  width: 100%;
  display: block;
  font-size: 15px;
  font-weight: 700;
  color: #8b8b8b;
  margin: 0;
}

.allId-custom-modal .modal-footer {
  border: 0;
}

.allId-custom-modal .content-scroll-date-text {
  position: absolute;
  display: block;
  top: 2px;
  right: 11px;
  font-size: 6px;
  color: #606060;
  font-weight: 400;
}

.allId-custom-modal .payment-charge-content {
  width: 100%;
  max-width: 536px;
  margin-bottom: 8px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #e2e2e2;
}

.allId-custom-modal .payment-charge-content .pay-charge-content-item {
  padding: 8px  16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

.allId-custom-modal .payment-charge-content .pay-charge-content-item:last-child {
  border-bottom: 0;
}

.allId-custom-modal .pay-charge-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 1px solid #e2e2e2;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: #e45131;
  padding-right: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.allId-custom-modal .category-icon {
  width: 22px;
  height: 14px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 9px;
  display: block;
}

.allId-custom-modal .category-icon.card-icon {
  background-image: url(../img/credit-card.svg);
}

.allId-custom-modal .category-icon.user-icon {
  height: 17px;
  background-image: url(../img/user-name.svg);
}

.allId-custom-modal .charge-content-text {
  padding-left: 24px;
  font-size: 15px;
  font-weight: 400;
  color: #484848;
  line-height: 1.6;
  letter-spacing: normal;
}

.defalut-input {
  width: 100%;
  border-radius: 3px;
  background-color: #fff;
  border: 2px solid #e55132;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: normal;
  padding: 16px 14px;
}

.pay-input-box {
  padding: 0 15px;
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
}

.paycharge-footer {
  display: block;
  padding: 0 15px 30px;
}

.footer-btn-box {
  max-width: 624px;
  margin: 0 auto;
}

.order-category-box {
  position: relative;
  border-radius: 21px;
  border: 1.5px solid #c6c6c6;
  background-color: #bbb;
  width: 100%;
  max-width: 480px;
  margin: 0 auto 8px;
  overflow: hidden;
}

.order-category-box .order-category-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  padding-top: 39%;
}

.order-category-box .safe-label-icon {
  right: 24px;
  bottom: 16px;
}

.order-check-item {
  width: 100%;
  margin: 0 auto 16px;
}

.order-check-item:last-child {
  margin-bottom: 0;
}

.order-check-item-inner {
  border-radius: 5px 5px 0 0;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  position: relative;
  z-index: 10;
}

.order-check-item-inner.active {
  background-color: #e85549;
  -webkit-box-shadow: 0 0 0 1px solid #e85549;
          box-shadow: 0 0 0 1px solid #e85549;
}

.order-check-item-inner.active .order-content-text {
  color: #fff;
}

.order-check-item-inner.active .order-content-coin-icon {
  background-image: url(../img/doller-icon.png);
}

.order-check-item-inner.active .order-content-payment {
  color: #fff;
}

.custom-radio-fake-box {
  width: 32px;
  min-width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/check-box-new.svg);
  margin-right: 15px;
  cursor: pointer;
}

.order-content-text {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  display: block;
  margin-right: 15px;
  line-height: 1.04;
}

.order-length-choice-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.length-icon {
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}

.length-text {
  display: block;
  padding: 4px;
  margin: 0 8px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  white-space: nowrap;
  width: 39px;
}

.order-detail-content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 5px;
  background-color: #fff;
  padding: 13px 15px;
  margin: -5px 0px 0;
  display: none;
  border: inset 1px #e85549;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.order-detail-content-box .order-content-text-detail {
  font-size: 14px;
  margin-right: 30px;
  text-align: center;
}

.detail-content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.order-check-radio[type="radio"]:checked + .custom-radio-fake-box {
  background-image: url(../img/check-on-new.svg);
}

.order-chekc-itme-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.order-check-wrap {
  padding: 24px 0px 30px;
}

.order-content-text {
  font-size: 17px;
  font-weight: 500;
  color: #4b4a4a;
  line-height: 1.18;
  letter-spacing: normal;
  display: block;
}

.order-content-coin-icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/doller-icon-red.svg);
  margin-top: -2px;
}

.order-content-payment {
  font-size: 17px;
  font-weight: 500;
  color: #333;
  line-height: 1.18;
  letter-spacing: normal;
}

.explan-item-thumbnail-box {
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  overflow: hidden;
  margin: 0 0 14px;
}

.explan-item-thumbnail-outline {
  position: relative;
}

.explan-item-thumbnail-outline .explan-thumbnail-item {
  width: 100%;
  height: 221px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.explan-item-thumbnail-outline .explan-safe-label {
  position: absolute;
  width: 88px;
  right: 16px;
  bottom: 16px;
}

.explan-item-info {
  padding: 23px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.explan-item-category {
  color: #e85549;
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin-right: 8px;
}

.explan-item-title {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  display: block;
  margin: 0;
}

.explan-content-inner {
  display: block;
}

.scroll-content-text {
  word-break: break-all;
  font-size: 14px;
  color: #4f4f4f;
  font-weight: 400;
}

.explan-pc-box {
  display: none;
}

@media screen and (min-width: 992px) {
  .order-check-wrap {
    padding: 0;
  }
  .flex-inner-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .order-check-wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }
  .explan-content-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .order-content-text {
    margin-right: 30px;
  }
  .custom-radio-fake-box {
    margin-right: 40px;
  }
  .order-detail-content-box .order-content-text-detail br {
    display: none;
  }
  .allId-custom-modal .pay-ment-bg {
    padding: 56px 40px;
  }
  .allId-custom-modal .modal-header {
    padding: 18px 49px;
  }
  .allId-custom-modal .modal-title .custom-modal-close-btn i {
    font-size: 40px;
  }
  .allId-custom-modal .show-pay-charge-bg::before {
    background-size: contain;
  }
  .allId-custom-modal .popup-content-title {
    text-align: left;
    font-size: 20px;
    margin-bottom: 35px;
  }
  .allId-custom-modal .check-circle-icon {
    width: 27px;
    height: 27px;
    margin-right: 11px;
  }
  .allId-custom-modal .content-start-top-icon {
    margin-bottom: 24px;
    height: 64px;
    width: 64px;
  }
  .allId-custom-modal .scroll-content-item .scroll-item-list {
    padding: 8px 31px;
  }
  .allId-custom-modal .scroll-content-item .scroll-item-list li {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.54;
  }
  .allId-custom-modal .popup-notice-text {
    display: none;
  }
  .allId-custom-modal .explan-popup-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 37px 38px;
  }
  .allId-custom-modal .explan-popup-footer .custom-red-defalut-btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }
  .allId-custom-modal .explan-pc-box {
    display: block;
    -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #fff;
    padding: 14px 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 48%;
            flex: 0 48%;
  }
  .allId-custom-modal .explan-pc-text {
    font-size: 14px;
    color: #4f4f4f;
    font-weight: 400;
    display: block;
    margin: 0;
  }
  .allId-custom-modal .custom-red-defalut-btn {
    padding: 20px;
    width: 100%;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.04;
    letter-spacing: 1.38px;
    margin: 0;
  }
  .allId-custom-modal .custom-red-defalut-btn.custom-white-btn {
    font-size: 23px;
    padding: 20px;
  }
  .allId-custom-modal .content-scroll-date-text {
    font-size: 10px;
    right: 15px;
    top: 4px;
  }
  .allId-custom-modal .modal-dialog.modal-dialog-show-explan {
    max-width: 1255px;
    height: auto;
  }
  .allId-custom-modal .safe-label-icon {
    width: 88px;
    height: 24px;
    right: 16px;
    bottom: 16px;
  }
  .allId-custom-modal .explan-item-thumbnail-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    margin: 0;
  }
  .allId-custom-modal .content-scroll-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    margin: 0;
  }
}

/*# sourceMappingURL=modal.css.map */
